/* common shared styles */
*{
    margin: 0;
    padding: 0;
}
/* header related styles */
.banner {
    max-width: 1320px;
    height: 600px;
    margin: 50px auto 0px;
    background-image:linear-gradient(to bottom, #070211 , rgba(7, 2, 17, 0.00)), url('../resources/Banner Image.png');
    border-radius: 16px;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: center;
}

.banner-content {
    width: 632px;
    text-align: center;
    padding: 170px 340px;
}

.banner-greeting {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
}

/* main section styles */